body {
  font-family: 'Inter', sans-serif;
}

input:focus, select:focus, button:focus {
  outline: none;
}

button {
  transition: all 0.3s ease-in-out;
}

.animate-pulse-slow {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
